.parrafo1 {
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 1.5em;
    text-decoration: underline;
    text-transform: capitalize;
  }
  
.parrafo2 {
    text-indent: 800px;
  }

.parrafo3 {
    text-indent: 800px;
  }